AIRFLOW_CONN_HDA_API=http://XXXX:YYYY@dummy

EODAG__DEDL__DOWNLOAD__OUTPUT_DIR=/home/eouser/eodag_downloads/msg_hrseviri
EODAG__DEDL__PRIORITY=10
EODAG__DEDL__SEARCH__TIMEOUT=60
EODAG__DEDL__AUTH__CREDENTIALS__USERNAME=XXXX
EODAG__DEDL__AUTH__CREDENTIALS__PASSWORD=YYYY
EODAG__DEDL__DOWNLOAD__MAX_WORKERS=4

DEFAULT_STREAM_REQUESTS_TIMEOUT=15

S3_ENDPOINT_URL=https://s3.central.data.destination-earth.eu
MY_S3_BUCKET_NAME=CCCC
MY_S3_ACCESS_KEY_ID=AAAA
MY_S3_SECRET_ACCESS_KEY=BBBB

#PYTHONPATH=${workspaceFolder}/dags

