# Used in tutorials to show how to handle secrets safely when working with Airflow on kubernetes
DESP_USERNAME=XXXX
DESP_PASSWORD=XXXX

# Used in tutorials to access S3 compatible storage from airflow DAG
MY_S3_ACCESS_KEY_ID=XXXX
MY_S3_SECRET_ACCESS_KEY=XXXX

# Used in tutorials to demonstrate triggering a DAG from client code
# See script-api-execution.py
AIRFLOW_USERNAME=XXXX
AIRFLOW_PASSWORD=XXXX